body {
  background-image: url(care-bg.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: black;
  font-family: 'Philosopher', sans-serif;

}

.wrapper {
  background-color: rgba(0, 0, 0, 0.687);
  height: fit-content;
  float: left;
  padding: 25px;
  margin: 10px;
  width: 300px;
} 

.container {
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  width: 80%;
  color: rgb(145, 17, 17);
  font-family: 'Philosopher', sans-serif;
}

.btn {
  padding: 10px;
  background-color: rgba(240, 248, 255, 0.666);
  width: 70%;
  margin: 15px;
  font-weight: 400;
}

ul, li {
  color: white;
  list-style: none;
  font-style: italic;
  font-size: 20px;
  
}

.crossed {
  text-decoration: line-through red solid 3px;
}

@media all and (max-width:850px) {
  body {
    background-position:git init bottom;
}
}